page-home {
}

.cardnews__title {
  font-size: 18px;
  font-weight: bold;
  color: #3c6382;
}
.cardnews__category {
  font-size: 13px;
  color: palevioletred;
}
.cardnews__date {
  font-size: 13px;
}
.cardnews__source {
  font-size: 13px;
  color: lightblue;
  padding: 0 5px;
}
