<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Ionic PWA
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="search()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-card>
    <ion-card-header>User Information</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [value]="username" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" [value]="userEmail" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>ID</ion-label>
        <ion-input type="text" [value]="userId" readonly></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card> -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- <ion-list>
    <ion-item (click)="onClickNews(newsItem)" *ngFor="let newsItem of news">
      <div class="news__title" text-wrap>
        {{newsItem.title}}
        <ion-badge item-end>{{newsItem.clickCount}}</ion-badge>
      </div>
      <ion-grid no-padding>
        <ion-row>
          <ion-col>
            <div class="news__category">{{newsItem.category}}</div>
          </ion-col>
          <ion-col>
            <div class="news__source">{{newsItem.source}}</div>
          </ion-col>
          <ion-col>
            <div class="news__date">{{newsItem.date}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list> -->

  <ion-list no-lines>
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-sm-12 col-md-4 col-xl-3 *ngFor="let newsItem of news">
          <ion-item (click)="onClickNews(newsItem)">
            <ion-card>
              <ion-card-header>
                <div class="cardnews__title" text-wrap>
                  {{newsItem.title}}
                  <ion-badge item-end>{{newsItem.clickCount}}</ion-badge>
                </div>
              </ion-card-header>
              <ion-card-content>
                <ion-grid no-padding>
                  <ion-row>
                    <ion-col>
                      <div class="cardnews__category">
                        {{newsItem.category}}
                      </div>
                    </ion-col>
                    <ion-col>
                      <div class="cardnews__source">{{newsItem.source}}</div>
                    </ion-col>
                    <ion-col>
                      <div class="cardnews__date">{{newsItem.date}}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer *ngIf="masterSwitch">
  <ion-navbar>
    <button ion-button full clear (click)="toManager()">Manager</button>
  </ion-navbar>
</ion-footer>
