page-news {
}

.news__title {
  font-size: 4vw;
  font-weight: bold;
  color: #3c6382;
  margin-bottom: 1vw;
}
.news__category {
  font-size: 3vw;
  color: palevioletred;
}
.news__date {
  font-size: 3vw;
}
.news__source {
  font-size: 3vw;
  color: lightblue;
}
