page-news {
}

.news__title {
  font-size: 4vw;
  font-weight: bold;
  color: #3c6382;
}
.news__category {
  font-size: 4vw;
  font-weight: bold;
  color: palevioletred;
}
.news__date {
  font-size: 4vw;
  font-weight: bold;
}
